<div class="contact-block">
  <ul class="contact-block__list">
    <li class="contact-block__item"><a rel="me" href="{{ site.data.profile.github | default: 'https://github.com/swallow-kim' }}">GitHub profile</a></li>
    <li class="contact-block__item"><a rel="me" href="{{ site.data.profile.linkedin | default: 'https://www.linkedin.com/in/mingi12-kim' }}">LinkedIn profile</a></li>
    <li class="contact-block__item"><a href="{{ site.data.profile.email | default: 'mailto:mingi12.kim@gmail.com' }}">Email Min-Gi Kim</a></li>
  </ul>
</div>
